/* Agrega aquí tus estilos*/

*{
	font-family: 'Dosis', sans-serif;
}


body{
	margin: 2;

}

h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}
header{
width: 100%;
background: url(../img/zenGarden.jpg) no-repeat;
background-position:  center center;
padding: 1px;
margin: 0;
}

header h1{
	font-size: 50px;
	background-color: 	#008080;
	color: whitesmoke;
	text-align: center;
		
}

#subtitulo{
	font-size: 25px;
	text-align: center;
	color: rgb(179, 0, 71);

}


#zen-summary{
	text-align: center;
	float: center;
}

#zen-preamble{
    float: left;
    width: 35%;
    height: 300px;
    margin: 5px;
    padding: 10px;
    background-color: #008080;
    color: whitesmoke;
    font-size: 16px;
    text-align: justify;
}

#zen-supporting{
    float: left;
    width: 35%;
    height: 300px;
    margin: 5px;
    padding: 10px;
    background-color: #008080;
    color: whitesmoke;
    font-size: 16px;
    text-align: justify;
}


#zen-participation{
    float: left;
    width: 100%;
    height: 360px;
    margin: 1px;
    padding: 8px;
    background-color: #008080;
    color: whitesmoke;
    font-size: 16px;
    text-align: justify;
}

#zen-benefits{
    float: left;
    width: 100%;
    height: 180px;
    margin: 1px;
    padding: 8px;
    background-color: #008080;
    color: whitesmoke;
    font-size: 16px;
    text-align: justify;
}
#zen-requirements{
    float: left;
    width: 100%;
    height: 800px;
    margin: 1px;
    padding: 8px;
    background-color: #008080;
    color: whitesmoke;
    font-size: 16px;
    text-align: justify;
}